<h1>Edit device type <span class="light small">"<%= @device_type.name %>"</span></h1>
<%= render :partial => "device_types/device_type_form", :device_type=>@device_type, :locals=>{:submit=>'Update'} -%>