<div id="home">
	<h1>Welcome to Lab Tools</h1>
	<div class="grey_block">
		There are <%= @nb_devices %> devices registered on the platform. <%= link_to 'See them all', devices_path %>
	</div>
	<!--div class="grey_block">
		You have <%= current_holder.remaining_holidays %> days of holidays left. <%= link_to 'manage your holiday bookings', holiday_bookings_path %>
	</div>
	<div class="small notice orange">
		The holiday booking utility is intended to be used only for your own records, and not for any administrative purposes.<br/>You are still <u>required</u> to complete the necessary form with administration.
	</div-->
</div>