<div class="line clearfix">
	<div class="leftInfo">
		<h2><%= h.name %><span class='small light'>(<%= h.team.name %>)</span></h2>
		<span class='light'><%= h.email %></span>
<% if isAdmin? -%>
			<%= link_to 'edit', edit_holder_path(h) -%>
<% end -%>
	</div>
</div>